/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #2c3e50;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.navbar h2 {
  margin: 0;
  font-size: 24px;
}

.nav-links {
  display: flex;
  align-items: center;
 
}

.links {
  display: flex;
  gap: 20px;
 
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  
}

.links a.active {
  color: #1abc9c;
}

.hamburger {
  display: none;
  font-size: 28px;
  background: none;
  border-radius: 5px;
  padding: 0px 10px;
  color: white;
  cursor: pointer;
  border: solid  #3F313F;
   transition: all 1s;
  
}
.hamburger:focus{ 
   border: solid 4px black;
    border-radius: 5px;
  padding: 0px 10px;
     
}

/* Responsive */
@media (max-width: 768px) {
  .links {
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    background-color: #2c3e50;
    flex-direction: column;
    width: auto;
    display: none;
    padding: 20px;
   
  }

  .links.open {
    display: flex;
    
  }

  .hamburger {
    display: block;
    
  }
}